spring:
  application:
    name: minio-multipart-upload
  datasource:
    url: jdbc:h2:mem:uploaddb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

s3:
  endpoint: ${S3_ENDPOINT:http://192.168.0.245:9000}
  access-key: ${S3_ACCESS_KEY:minioadmin}
  secret-key: ${S3_SECRET_KEY:minioadmin123}
  bucket: ${S3_BUCKET:remote-consent}
  region: ${S3_REGION:us-east-1}
  path-style-access: ${S3_PATH_STYLE:true}

upload:
  max-file-size: ${UPLOAD_MAX_SIZE:2147483648}
  default-chunk-size: ${UPLOAD_CHUNK_SIZE:8388608}
  presigned-url-expiration-minutes: ${PRESIGNED_URL_EXPIRATION:60}

server:
  port: 8080
